.general-new-product {
    .description-editor-wrapper {
        height: fit-content;
        border: 1px solid #2692FF;
        .description-editor-editor {
            height: 30rem;
            padding: .5rem;
        }
    }
    .short-description-editor-wrapper {
        height: fit-content;
        border: 1px solid #2692FF;
        .short-description-editor-editor {
            height: 10rem;
            padding: .5rem;
        }
    }
    .attributes-group-0, .attributes-group-1, .list-image {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 1rem;
    }
    .attributes-group-2 {
        display: grid;
        grid-template-columns: 1fr 3fr;
        column-gap: 1rem;
    }
    .form-images {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        column-gap: .5rem;
        & > div {
            height: 10rem;
        }
    }
    .variation-values-table {
        th:nth-child(1)::after,
        th:nth-child(2)::after,
        th:nth-child(3)::after,
        th:nth-child(4)::after,
        th:nth-child(5):not(:last-child)::after,
        th:nth-child(6):not(:last-child)::after {
            content: "*";
            margin-left: .25rem;
            color: var(--danger, red);
        }
        .volatile-cell {
            & > div {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                button {
                    margin-top: .125rem;
                    margin-bottom: .125rem;
                    &:not(:first-child) {
                        margin-left: .25rem;
                    }
                }
            }
        }
    }

    .gallery {
        max-width: 320px;

        .edit-gallery {
            width: inherit;

            img {
                width: 25px;
            }
        }
    }
}