@import '../../../variables';

.top-nav {
    height: #{$top-nav-height};
    position: sticky;
    top: 0;
    z-index: 100;
    a.navbar-brand {
        height: 100%;
        padding: 10px;

        .app-logo {
            height: 100%;
            width: auto;
        }
    }
    border-bottom: 1px solid #e7e7e7;
}
.bg-light {
    background-color: #ffffff !important;
}
.user-btn {
    background-color: #2692FF;
    border-radius: 3px; 
    color: #ffffff !important;
    font-weight: bold;
    padding: 7px 15px !important;
    display: flex;
    align-items: center;
}
.dropdown-toggle::after {
    margin-left: 1.255em;
}
.navbar-light .navbar-nav .nav-link {
    margin-left: 10px;
}