@import '../../variables';

.login-page {
    padding-top: 150px;
    background-color: white;
    font-size: 13px;
    .login-card {
        width: 300px;
        margin: auto;
        .login-card-header {
            margin-bottom: 40px;
            display: flex;
            align-items: center;
            .authen-nav {
                a {
                    text-transform: uppercase;
                    font-weight: bold;
                    color: #a6a6a6;
                    padding-bottom: 15px;
                    &:hover {
                        text-decoration: none;
                    }
                }
                &.active a {
                    color: #505762;
                    border-bottom: 1px solid #1377ff;
                }
                &:nth-child(2) {
                    margin-left: 40px;
                }
            }
        }
        .login-card-body {
            .form-group {
                margin-top: 0;
                margin-bottom: 40px;
            }
            input.authen-input {
                padding: 15px;
                width: 100%;
                border: none;
                background-color: #f8f9fc;
                // color: #c8cbd1;
                border-radius: 5px;
                &:focus {
                    outline: none;
                }
            }
            button.loading-button {
                padding: 15px;
                background-color: #1377ff;
                text-transform: uppercase;
            }
        }
    }
}

