// Colors
$color-primary: #007bff;
$color-secondary: #6c757d;
$color-success: #28a745;
$color-info: #17a2b8;
$color-warning: #ffc107;
$color-danger: #dc3545;
$color-dark: #343a40;

$theme-gray: #eee;

$sel-primary: #2694cf;

$top-nav-height: 70px;
$footer-height: 0px;
$input-height: 2.375rem;

$max-table-config-width: 14rem;
$max-pagination-width: 27rem;

$color-input-border: #2692FF; 
